In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

import seaborn as sns

In [3]:
df=df = pd.read_csv('titanic.csv')[['Age','Pclass','SibSp','Parch','Survived']]

In [4]:
df.dropna(inplace=True)

In [6]:
df.isnull().sum()

Age         0
Pclass      0
SibSp       0
Parch       0
Survived    0
dtype: int64

In [7]:
df.head()

    Age  Pclass  SibSp  Parch  Survived
0  22.0       3      1      0         0
1  38.0       1      1      0         1
2  26.0       3      0      0         1
3  35.0       1      1      0         1
4  35.0       3      0      0         0

In [18]:
X=df.drop(columns=['Survived'])
Y=df['Survived']

In [21]:
np.mean(cross_val_score(LogisticRegression(),X,Y,scoring='accuracy',cv=20))

0.6933333333333332

In [25]:
X['Family_size'] = X['SibSp'] + X['Parch'] + 1

In [28]:
X.drop(columns=['SibSp','Parch'],inplace=True)

In [29]:
def myfunc(num):
    if num == 1:
        #alone
        return 0
    elif num >1 and num <=4:
        # small family
        return 1
    else:
        # large family
        return 2

In [30]:

X['Family_type'] = X['Family_size'].apply(myfunc)

In [33]:
X.drop(columns=['Family_size'],inplace=True)

In [35]:
#after feature construction 
np.mean(cross_val_score(LogisticRegression(),X,Y,scoring='accuracy',cv=20))

0.7003174603174602

# Feature Splitting

In [41]:
df=df = pd.read_csv('titanic.csv')
df['Name']

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [50]:
df['title']=df['Name'].str.split(',',expand=True)[1].str.split('.',expand=True)[0]

In [52]:
(df.groupby('title').mean()['Survived']).sort_values(ascending=False)

title
 the Countess    1.000000
 Mlle            1.000000
 Sir             1.000000
 Ms              1.000000
 Lady            1.000000
 Mme             1.000000
 Mrs             0.792000
 Miss            0.697802
 Master          0.575000
 Col             0.500000
 Major           0.500000
 Dr              0.428571
 Mr              0.156673
 Jonkheer        0.000000
 Rev             0.000000
 Don             0.000000
 Capt            0.000000
Name: Survived, dtype: float64